@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --primary: #0079ff;
  --white: #ffffff;
  --grey: rgba(177, 177, 177, 0.3);
  --grey-dark: #949393;
  --red: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--primary);
}

.container {
  width: 400px;
  border-radius: 20px;
  padding: 2rem;

  background-color: var(--white);
}

.container h1 {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;

  margin: 10px 0;
}

.container h2 {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;

  padding: 0 2rem;
  margin-bottom: 30px;
}

.container .form {
  width: 100%;
  margin-bottom: 25px;
}

.form .form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form-field input {
  padding: 20px 10px 20px 20px;
  outline: none;
  border-radius: 15px;
  border: 2px solid transparent;
  background-color: var(--grey);
  transition: border 0.2s ease, background-color 0.2s ease;
}

.form-field input:focus,
.form-field input:active {
  border: 2px solid #0079ff;
  background-color: rgba(0, 121, 255, 0.2);
}

.form-field i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-dark);
  cursor: pointer;
}

.form-field span {
  position: absolute;
  bottom: -18px;
  font-size: 14px;
  color: var(--red);
  margin-left: 7px;
}

.forgot-password {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-align: right;
  margin-bottom: 30px;
}

.forgot-password:hover {
  text-decoration: underline;
  color: #0079ff;
}

.form .login-btn {
  width: 100%;
  padding: 20px 10px 20px 20px;
  outline: none;
  border-radius: 15px;
  border: 2px solid transparent;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgba(0, 121, 255, 0.9);
  transition: background-color 0.2s ease;
}

.form .login-btn:hover {
  background-color: #0079ff;
}

.divider {
  position: relative;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 3px;
  /* background-color: grey; */
  top: 50%;
  transform: translateY(-50%);
}

.divider::before {
  left: -2px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(163, 163, 163, 1) 100%
  );
}

.divider::after {
  right: -2px;
  background: linear-gradient(
    90deg,
    rgba(163, 163, 163, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.link {
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}

.link a {
  text-decoration: none;
  color: #0079ff;
}

.link a:hover {
  text-decoration: underline;
}
